$background: #F7F6F1;
$header: #D7E1C8;
$bluedark: #00335d;
$bluelight: #5186b1;
$greendark: #285D00;
$greenkindadark: #448016;
$green: #89a144;
$greenlight: #C4DBA0;
$accent: #E8D7C7;
$weakdarktr: #0003;
$darktr: #0003;
$wood: #886341;
