$blue-lighter: #caf0f8;
$blue-light: #90e0ef;
$blue: #00b4d8;
$blue-dark: #0077b6;
$blue-darker: #03045e;

$green-lighter: #99dd8b; //
$green-light: #50b050;
$green: #1fa01f;
$green-dark: #1b8120;
$green-darker: #073B3A; //

$wood-dark: #301010; //
$wood: #8f4726; //
$wood-light: #ffdecf; //
$accent: #f3d9e5; //