$blue-lighter: #caf0f8;
$blue-light: #90e0ef;
$blue: #00b4d8;
$blue-dark: #0077b6;
$blue-darker: #03045e;

$green-lighter: #bcd6b8; //
$green-light: #89ab84;
$green: #6e9666;
$green-dark: #567550;
$green-darker: #284722; //

$wood-dark: #301010; //
$wood: #826c4a; //
$wood-light: #E8D7C7; //
$accent: #f3d9e5; //
$border: #E8D7C7;
