@use "util-mixin.scss" as mixin;
@use "util.scss";
@use "rally.scss";

$col-background: #F7F6F1;
$col-header: #D7E1C8;
$col-greendark: #285D00;
$col-greenlight: #C4DBA0;
$col-accent: #E8D7C7;
$col-weakdarktr: #0003;
$col-darktr: #0003;

body {
    margin: 0;
    font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
    background: $col-background;
    font-size: 16px;
}

header {
    height: 3em;
    padding: 8px 16px;
    background: $col-header;

    display: grid;
    grid-template-columns: 3fr 5fr 3fr;
    overflow: hidden;
    align-items: center;

    flex-shrink: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a, a:visited {
    color: unset;
    text-decoration: underline;
    cursor: pointer
}

button {
	@extend .reset;
    padding: 0 8px;
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

#title {
    font-weight: 450;
    font-family: Merienda, 'Open Sans';
    color: $col-greendark;
    filter: drop-shadow(2px 3px 0px $col-weakdarktr);
}

#search {
    height: 100%;
    padding: 6px 12px;
    box-sizing: border-box;

    background: $col-accent;
    border: 1px solid $col-greendark;
    border-radius: 0.5em;

    display: flex;
    align-items: center;
    gap: 8px;
}

#search-res {
    margin-top: 4px;
    padding: 8px;
    box-sizing: border-box;
    background: white;
    border: 1px solid;
    border-radius: 0.5em;
    gap: 8px;
}

.search-rally {
    padding: 0;
    border: 1px solid $col-greendark;
    border-radius: 0.5em;

    & > div {
        padding: 4px 16px;
        background: #fffb;

        & > img {
            margin-right: 8px;
        }
    }
}

.big-button {
    padding: 8px 16px;
    background: $col-greenlight;
    border-radius: 1em;
}

.popup {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.popup.blur {
    background: $col-darktr;
}

.login-container {
    width: 350px;
    min-height: 300px;
    padding: 16px;
    box-sizing: border-box;

    background: white;
    border: 1px solid #285D00;
    border-radius: 0.5em;

    filter: drop-shadow(0px 2px 4px $col-weakdarktr);

    & > button + * {
        margin-top: 8px;
    }
}

.uinput {
    white-space: pre-wrap;
    & > input {
        border: 1px solid currentColor;
        border-radius: 5px;
    }
}

.uinput.invalid {
    color: red;
    & > input { border-color: red; }
}