@use "colors.scss" as col;

.rally-list {
    display: grid;
    padding: 0 8px;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.rally-card {
    height: 300px;

    background-position: center;
    background-size: cover;

    border: 2px solid #285D00;
    border-radius: 0.4em;

    color: white;

    display: flex;
    flex-direction: column-reverse;
    gap: 8px;

    & > div {
        padding: 8px;
        background: #0006;
    }

    &:hover {
        border-color: #079;
    }

    &:hover > div {
        height: 100%;
        background: #0009;
    }

    &:not(:hover) .rally-summary {
        display: none;
    }
}

.rally-cardtitle {
    gap: 0px 8px;
    grid-template-areas:
        'a a a'
        'b c .'
    ;
    align-items: center;
}

.rally-card-detail {
    padding-top: 8px;
    gap: 8px;
    & > :first-child {
        flex-grow: 1;
    }
}

.rally-button {
    background: col.$bluelight;
    border-radius: 0.3em;
    color: white;

    &:hover {
        background: col.$green;
    }
}

.rally-tag {
    margin: 0 2px;
    background: col.$wood;
    border-radius: 0.3em;
    color: white;

    &:is(:hover, .focus) { background: col.$green; }
}

.rally-detail {
    width: 800px;
    max-width: 80%;
    max-height: 80%;

    background-size: auto, cover !important;
}

.rally-ttag {
    margin: 0 4px;
    padding: 1px 4px;
    border-radius: 0.25em;
    &-not { background: #777; color: white; }
    &-current { background: lime }
}
